.mainArt {
  font-size: 1.2rem;
  h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  ul {
    li {
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
